@font-face {
  font-family: "Colombo Sans Font";
  src: url("ColomboSansFont-Regular.woff2") format("woff2"),
    url("ColomboSansFont-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
